<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>
</head>
<body>
<div style="text-align: center;">

    <div>
        <span><a href="/blog/{{ blog.id }}/change">Изменить пост</a></span>
        <h2>{{ blog.title }}</h2>
        <img style="width: 500px; height: 500px" src="{{ blog.image.url }}" alt="">
        <p>{{ blog.description }}</p>
        <p>Likes: {{ blog.likes }}</p>
        <p>Reposts: {{ blog.reposts }}</p>
    </div>

    <div>
        <form action="/blog/{{ blog.id }}" method="post">
            {% csrf_token %}
            <label>
                <input name="comment" type="text">
            </label>
            <input value="Оставь свой ненужный комментарий" type="submit">
        </form>
    </div>

    <div>
        <ul>
            {% for i in comments %}
            <li>
                <h3>
                    {{ i.text }}
                </h3>
                <span>{{ i.date }}</span>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>